<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.davide.vgn"
	android:installLocation="auto">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		tools:node="replace" />
	<uses-permission
		android:name="android.permission.WRITE_INTERNAL_STORAGE"
		tools:node="replace" />
	<uses-permission
		android:name="android.permission.READ_INTERNAL_STORAGE"
		tools:node="replace" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleTop"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".SettingsActivity"
			android:label="@string/settings"
			android:theme="@style/AppTheme.NoActionBar"
			android:parentActivityName=".MainActivity" />
		<activity
			android:name=".ArticleViewActivity"
			android:configChanges="orientation|screenSize"
			android:parentActivityName=".MainActivity" />
		<activity
			android:name=".SavedArticlesActivity"
			android:label="@string/bookmarks"
			android:launchMode="singleTop"
			android:parentActivityName=".MainActivity" />
		<activity
			android:name=".SavedArticleViewActivity"
			android:configChanges="orientation|screenSize"
			android:parentActivityName=".SavedArticlesActivity" />
	</application>

</manifest>
